<div class="p-2">
    {{#if user.is_admin}}
    <a href="/competitions/add" class="btn btn-primary">Novo natjecanje</a>
    {{/if}}

    <div class="overflow-x-auto">
        <table class="table">
            <!-- head -->
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Ime</th>
                    <th>Opis</th>
                    <th>Rok prijave</th>
                    <th>Autor</th>
                    {{#if user.is_admin}}
                    <th>Mogućnosti</th>
                    {{/if}}
                </tr>
            </thead>
            <!-- body -->
            <tbody>

                {{#each result.items}}
                <tr>
                    <th>{{this.id}}</th>
                    <td>{{this.name}}</td>
                    <td>
                        <div class="line-clamp-2">
                            {{this.description}}
                        </div>
                    </td>
                    <td x-data="{}">
                        <span x-text="new Date('{{this.apply_till}}').toLocaleString()"></span>
                    </td>
                    <td>{{this.author}}</td>
                    {{#if ../user.is_admin}}
                    <td class="flex flex-wrap gap-2">
                        <a href="/competitions/edit/{{this.id}}" button type="button"
                            class="text-white bg-gradient-to-r from-cyan-400 via-cyan-500 to-cyan-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-cyan-300 dark:focus:ring-cyan-800 font-bold rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2">Uredi</button>
                            <a href="/competitions/delete/{{this.id}}" button type="button"
                                class="text-white bg-gradient-to-r from-teal-400 via-teal-500 to-teal-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-teal-300 dark:focus:ring-teal-800 font-bold rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2">Briši</button>
                                <a href="/competitions/score_input/{{this.id}}" button type="button"
                                    class="text-gray-900 bg-gradient-to-r from-lime-200 via-lime-400 to-lime-500 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-lime-300 dark:focus:ring-lime-800 font-bold rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2">Prikaz
                                    prijava</button>
                                    <a href="/competitions/leaderboard/{{this.id}}" button type="button"
                                        class="text-white bg-gradient-to-r from-red-400 via-red-500 to-red-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-red-300 dark:focus:ring-red-800 font-bold rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2">Ljestvica</button>

                    </td>
                    {{/if}}
                    <td class="flex-none">
                        <a href="/competitions/login/{{this.id}}" button type="button"
                            class="text-white bg-gradient-to-r from-purple-500 via-purple-600 to-purple-700 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-purple-300 dark:focus:ring-purple-800 font-bold rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2">Prijavi</button>
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</div>